.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .product-item {
    
    padding: 0px;
    text-align: center;
    display: flex; /* Adiciona display flex */
    flex-direction: column; /* Alinha os elementos verticalmente */
    justify-content: center; /* Centraliza os elementos verticalmente */
    align-items: center;
  }
  
  .product-item img{
    border-radius: 10px;
    width: 100%;
    height: auto; 
    
  }
  
  .product-item h3 {
    margin-top: 10px;
    font-size: 18px;
  }
  
  .product-item p {
    margin-top: 5px;
    font-size: 14px;
    color: #666;
  }
  
  .product-item .price {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    color: #333;
  }
  
  .product-item .buy-btn {
    display: block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #e70e0e;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .product-item .buy-btn:hover {
    background-color: #0056b3;
  }
  
  .product-item .buy-btn:focus {
    outline: none;
  }
